@font-face {
  font-family: 'Avenir LT Std';
  src: url('../fonts/AvenirLTStd-Roman.eot');
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
  url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
  url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-Thin.otf') format('OpenType');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-Light.otf') format('OpenType');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-Regular.otf') format('OpenType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-Medium.otf') format('OpenType');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-Bold.otf') format('OpenType');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-ExtraBold.otf') format('OpenType');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-Black.otf') format('OpenType');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RocGrotesk';
  src: url('../fonts/Roc-Grotesk-Heavy.otf') format('OpenType');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NimbusSanL';
  src: url('../fonts/NimbusSanL-Reg.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}