// Footer CSS
.insta_slider{
    @include media-breakpoint-down(md){
        margin-left: -5px;
        margin-right: -5px;
    }
    .slick-slide{
        padding-left: 5px;
        padding-right: 5px;
        img{
            width: 249px;
            height: 236px;
            border-radius: 15px;
            @include media-breakpoint-down(md){
                width: 117px;
                height: 117px;
                border-radius: 5px;
            }
        }
    }
}

footer{
    background: linear-gradient(to bottom, transparent 0%, transparent calc(0% + 240px), $primary calc(0% + 240px), $primary 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent calc(0% + 240px), $primary calc(0% + 240px), $primary 100%);
    overflow-x: hidden;
    @include media-breakpoint-down(md){
        background: linear-gradient(to bottom, transparent 0%, transparent calc(0% + 210px), $primary calc(0% + 210px), $primary 100%);
        background: -webkit-linear-gradient(top, transparent 0%, transparent calc(0% + 210px), $primary calc(0% + 210px), $primary 100%);
    }
    .footer-bg{
        background-image: url(../images/footer/footer-Intersection.svg);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
        @include media-breakpoint-down(md){
            background-image: url(../images/footer/footer-Intersection-mobile.svg);
            background-position: bottom left;
        }
    }
    .container{
        @include media-breakpoint-up(xxl){
            max-width: 1420px;
        }
    }
    .top-footer{
        @include media-breakpoint-down(md){
            .container{
                padding: 0;
            }
        }
    }
    .footer-insta-icon{
        width: 38px;
        height: 38px;
        border-radius: 100%;
    }
    .footer-contact{
        li{
            a span{
                font-size: 25px;
                letter-spacing: -0.25px;
                line-height: 25px;
                @include media-breakpoint-down(md){
                    font-size: 15px;
                    letter-spacing: -0.15px;
                }
            }
        }
    }
    .footer-menu{
        li{
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }
            @include media-breakpoint-down(md){
                margin-right: 0;
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            a{
                position: relative;
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $white;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    opacity: 0;
                    @include generate-transition(all, 500ms, ease);
                }
                &:hover{
                    &:after{
                        opacity: 1;
                    }
                }
            }
        }
    }
}