// Login Page
.login-section{
    width: 100%;
    @include media-breakpoint-down(sm){
        .container{
            max-width: 100%;
        }
    }
}

body.login-page{
    height: 100vh;
    main {
        height: 100%;
    }
    @include media-breakpoint-down(lg){
        height: auto;
    }
}

.content-box.register-box{
    img.img-fluid {
        top: -90px;
        right: -120px;
        width: 200px;
        height: 182px;
    }
}