// Login Page
.login-section{
    width: 100%;
    @include media-breakpoint-down(sm){
        .container{
            max-width: 100%;
        }
    }
}

body.login-page{
    height: 100vh;
    main {
        height: 100%;
    }
    @include media-breakpoint-down(lg){
        height: auto;
    }
}

.content-box.register-box{
    img.img-fluid {
        top: -90px;
        right: -120px;
        width: 200px;
        height: 182px;
    }
}

// Credentials Page
.service-menu {
    @include media-breakpoint-down(md){
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        left: 0;
        // background: $white;
        z-index: 99;
    }
}

.services-lists-group {
    position: sticky;
    top: 150px;
    padding: 48px 36px;
    border-radius: 30px;
    z-index: 9;
    @include media-breakpoint-down(md){
        padding: 20px 25px;
    }
    &.bg-secondary{
        .list-group-item.active{
            border-color: $primary;
        }
    }
    &.bg-primary{
        .list-group-item.active{
            border-color: $secondary;
        }
    }
    @include media-breakpoint-down(md){
        flex-wrap: nowrap;
        overflow: auto;
    }
    .list-group-item {
        border-color: $light-gray;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 0;
        padding: 0px 45px 0px 0px;
        background-color: transparent !important;
        font-size: $headingXS;
        letter-spacing: -0.18px;
        transition: 0.2s all ease-in-out;
        @include media-breakpoint-up(md){
            padding: 0px 0px 0px 0px;
            margin-bottom: 16px;
        }
        @include media-breakpoint-down(md){
            white-space: nowrap;
        }
        &:hover{
            color: $primary;
        }
        &.active{
            border-width: 0px 0px 0px 2px;
            padding-left: 10px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.accreditations-logo-carousel{
    .logo-box{
        .object-cover{
            width: 225px;
            height: 101px;
        }
    }
}


//home page css
.hero-section{
    @include media-breakpoint-up(md){
        height: 100vh;
    }

    > div{
        width: 100%;
        @include media-breakpoint-up(md){
            width: 50%;
        }
    }


    .hero-banner{
        @include media-breakpoint-down(md){
            height: 485px;
        }
    }

    .container{
        @include media-breakpoint-up(md){
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .hero-content{
        @include media-breakpoint-down(md){
            padding-top: 120px;
            overflow: hidden;
        }

        @include media-breakpoint-up(md){
            width: 50%;
        }

        h1{
            font-size: 86px;
            line-height: 87px;
            
            @include media-breakpoint-down(xl){
                font-size: 55px;
                line-height: 65px;
            }

            @include media-breakpoint-down(lg){
                font-size: 46px;
                line-height: 54px;
            }
            
            span{
                border-bottom: 5px solid $warning; 
                display: inline-block;

                @include media-breakpoint-down(md){
                    border-bottom: 3px solid $warning; 
                }
            }
        }

        .btn{
            min-width: 190px;
        }

        svg{
            position: absolute;
            right: 50px;
            bottom: 0%;
            transform: translateY(60%);
            @include media-breakpoint-down(xl){
                overflow: hidden;
                width: 140px;
                transform: translateY(0%) translateX(30px) rotate(-45deg);
            }
            @include media-breakpoint-down(md){
                right: 0px;
            }
        }

    }
}

.about-us-section{
    padding-bottom: 150px;

    &:before {
        content: "";
        background-image: url("../images/background-images/about-us-bg-shap.svg");
        width: 50%;
        height: 400px;
        display: block;
        position: absolute;
        right: 0;
        top: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateY(-26%);
        background-position: center left;

        @include media-breakpoint-down(md){
            top: auto;
            bottom: 0px;
            transform: translateY(200px);
            background-position: center left -20px;
        }
        
        @include media-breakpoint-up(md){
            height: 1000px;
        }
    
        @include media-breakpoint-up(xl){
            width: 40%;
        }
        @include media-breakpoint-up(xxl){
            width: 30%;
            max-width: 630px;
        }
    }
}



.section-card-block{
    background: -webkit-linear-gradient(top, rgba(82,163,163,1) 0%,rgba(82,163,163,1) 50%,rgba(253,127,107,1) 50%,rgba(253,127,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
    &.primary-up-gradiant{
        background: -webkit-linear-gradient(top, rgba(253,127,107,1) 0%,rgba(253,127,107,1) 50%,rgba(82,163,163,1) 50%,rgba(82,163,163,1) 100%);
    }
}


.testimonial-section{
    h2 {
        line-height: 62px;
        letter-spacing: 0px;
        @include media-breakpoint-down(md) {
            line-height: 47px;
        }
    }

    p {
        font-size: 16px;
        letter-spacing: -0.16pt;
        margin: 0px;
    }
}


.blog-card-section{
    background: -webkit-linear-gradient(bottom, rgba(82,163,163,1) 0%,rgba(82,163,163,1) 50%,rgba(253,127,107,1) 50%,rgba(253,127,107,1) 100%); /* Chrome10-25,Safari5.1-6 */

    .card-customized{
        @include media-breakpoint-up(lg) {
            width: 39%;
        }
    }
}

.member-area-section{
    h2{
        line-height: 70px;
        border-bottom: 5px solid $warning;
        display: inline-block;

        @include media-breakpoint-up(md) {
            span{
                font-weight: 400;
            }
        }
    }

    .btn{
        min-width: 226px;
    }

    svg {
        position: absolute;
        right: -70px;
        top: -60px;
        transform: rotate(-140deg) translateX(100%);
        width: 150px;

        @include media-breakpoint-up(md) {
            transform: rotate(-120deg) translateX(100%);
            right: -200px;
            top: 40px;
            width: 210px;
        }
    }
}
// END home page css

// Login Page
.login-section{
    padding-bottom: 224px;
    background-image: url(../images/general/signup-arrow.svg);
    background-position-x: -10px;
    background-position-y: 450px;
    background-repeat: no-repeat;
    background-size: 570px;
    @include media-breakpoint-down(lg){
        background-position-x: -10px;
        background-position-y: bottom;
        background-size: 460px;
    }
    @include media-breakpoint-down(sm){
        background-position-x: -100px;
        background-position-y: bottom;
        background-size: 386px;
    }
}

// Service Section
.service-title {
    padding-bottom: 15px;
    margin-bottom: 28px;
    border-bottom: 3px solid;
    line-height: 62px;
    @include media-breakpoint-down(sm){
        line-height: 43px;
    }
}

.service-image{
    img{
        @include media-breakpoint-down(md){
            height: 271px;
        }
    }
}

.service-testimonial{
    @include media-breakpoint-down(md){
        margin-left: -12px;
        margin-right: -12px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &:before {
        content: "";
        display: block;
        width: calc(100% * 10);
        height: 100%;
        background: $warning;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        @include media-breakpoint-down(md){
            width: 100%;
        }
    }
}

.scrollspy-example{
    @include media-breakpoint-down(md){
        .service-image{
            margin-left: -12px;
            margin-right: -12px;
            img{
                border-radius: 0;
            }
        }
        .service-slider{
            margin-left: -12px;
            margin-right: -12px;
            img{
                height: 271px;
            }
            .slick-arrow{
                display: none !important;
            }
        }
    }
}

// Blog Open
.back-all-button {
    @include media-breakpoint-up(lg){
        position: sticky;
        top: 110px;
        left: 0;
        margin-bottom: 30px;
    }
}
.social-icons {
    @include media-breakpoint-up(lg){
        position: sticky;
        top: calc(100% - 100px);
        left: 0;
    }
    > .text-sm{
        letter-spacing: -0.14px;
    }
    ul{
        white-space: nowrap;
        li{
            display: inline-block;
            a{
                width: 40px;
                height: 40px;
                background: $primary-light;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s;
            }
        }
    }
}

.single-blog-title{
    @include media-breakpoint-down(md){
        font-size: 46px;
        line-height: 48px;
    }
}

.service-slider{
    @include media-breakpoint-down(md){
        margin-left: -12px;
        margin-right: -12px;
        img{
            border-radius: 0;
        }
    }
}
.blog-helpe-title{
    @include media-breakpoint-down(md){
        line-height: 36px;
    }
}

// Member Area
.member-area-hero-section{
    padding-top: 200px;
    padding-bottom: 80px;
    @include media-breakpoint-down(md){
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .container{
        @include media-breakpoint-down(md){
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
    }
    .hero-filter{
        padding: 63px 68px 58px 90px;
        border-radius: 30px;
        z-index: 9;
        @include media-breakpoint-down(md){
            padding: 54px 36px 66px;
            border-radius: 0;
        }
        .hero-title{
            line-height: 68px;
            @include media-breakpoint-down(md){
                line-height: 52px;
            }
        }
        .hero-content{
            @include media-breakpoint-down(md){
                letter-spacing: -0.16px;
                line-height: 29px;
            }
        }
    }
    .member-area-banner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        @include media-breakpoint-down(md){
            position: relative;
            height: 316px;
        }
    }
}
// blog page
h2{
    line-height: 37px;
    @include media-breakpoint-up(lg){
        line-height: 55px;
    }
}
.btn{
    min-width: 190px;
}

p{
    @include media-breakpoint-down(md){
        -webkit-line-clamp: 3;
        .img-fluid{
            height: 699px;
            @include media-breakpoint-down(md){
                height: 316px;
            }
        }
    }
}

.mermbers-grid{
    @include media-breakpoint-up(md){
        margin-left: -8px;
        margin-right: -8px;
        > .col-12{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.members-section{
    .blog-card{
        .btn-with-icon{
            background: $warning;
        }   
        &:hover{
            .btn-with-icon{
                background: $primary;
            }
        }    
    }
}

// newslatter section
.newslatter-section{
    h2{
        font-size: 28px;
        letter-spacing: -0.28pt;
        line-height: 30px;

        span{
            font-weight: 500;
        }
    }
}

.newslatter-box{
    width: 100%;

    @include media-breakpoint-up(md){
        max-width: 440px;
    }

    .newslatter-input{
        height: 48px;
        width: 100%;
        border-radius: 6px;
        padding: 14px 50px 14px 16px;
        font-size: 16px;
        letter-spacing: -0.16px;
        border: none;
        &::placeholder{
            color: #00000035;
        }
    }
    .newslatter-submit{
        width: 40px;
        height: 40px;
        border-radius: 6px;
        position: absolute;
        right: 5px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        z-index: 9;
        background-color: $secondary;
        border: none; 
        transition: 0.4s all ease-in-out;
        &:hover{
            background-color: $info;
        }
    }
}
// newslatter section


// blog page
.blog-hero-section{
    h2{
        line-height: 37px;
        @include media-breakpoint-up(lg){
            line-height: 55px;
        }
    }
    .btn{
        min-width: 190px;
    }
 
    p{
        @include media-breakpoint-down(md){
            -webkit-line-clamp: 3;
        }
    }
}

// END blog page